dataclasses
hydra-core
librosa
mlflow
pytorch-lightning
torch==1.13.1+cu117
torchaudio==0.13.1+cu117
torchtext==0.15.1
torchvision==0.14.1+cu117
torchmetrics
torchsummary
tqdm
wandb
seaborn
nnaudio
transformers
omegaconf
numpy
pandas
matplotlib
umap-learn